<img style="height: 50px;" src="http://3.89.86.219:8080/vkc/assets/images/vkclogo.png"/>

<div class="header">
    <h1 style="  text-transform: uppercase; background-color: white; 
    color: black; 
    border: 2px solid lightblue;">Zonel Head Planned Qty And Calculation</h1>
  </div>
  <br>
<div  class="container">
    <ul class="nav nav-tabs nav-fill mb-3">
        <li style="text-transform: uppercase" class="nav-link active" *ngFor="let item of zonalPlanned; let i=index"
            [ngClass]="{ 'active': item.isActive }" aria-current="page">
            <a (click)="zonalPlannedClick(item.label,item,i)" class="nav-link" >{{item.label}}</a>
        </li>
    </ul>

</div>

<div *ngIf="isNew" class="table-responsive">

    <table  class="table align-center">
        <thead  class="thead-dark">
            <tr>
               
                <th >statePlan Code <button class="sorted-btn" (click)="sortedBy('statePlanCode')" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">
  <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
</svg></button></th>
                <th>State CODE <button class="sorted-btn" (click)="sortedBy('stateCode')" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">
  <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
</svg></button></th>
                <th>Month  <button class="sorted-btn" (click)="sortedBy('planMonth')" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">
  <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
</svg></button></th>
                <th>status <button class="sorted-btn" (click)="sortedBy('statusText')" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">
  <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
</svg></button></th>
                <th>created By <button class="sorted-btn" class="sorted-btn" (click)="sortedBy('createdBy')" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">
  <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
</svg></button></th>
                <th>created Date <button class="sorted-btn" (click)="sortedBy('createdDt')" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">
  <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
</svg></button></th>
            
                <th *ngIf="runningFlag">Action</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngIf="zonalRsmData.length==0" >  
                <td align="center" colspan="7">NO RECORD FOUND</td>
            </tr>
            <tr  (click)=" runningFlag && clickEventOfGridPlan(item.statePlanId,'save',$event,i)"  [ngClass]="{'clicked': item.clicked}" class="clickable-row" *ngFor="let item of zonalRsmData;let i=index">
                
                <td>{{item.statePlanCode}}</td>
                <td>{{item.stateCode}}</td>
                <td>{{item.planMonth}}</td>
                <td *ngIf="runningFlag"> <button style="  text-transform: uppercase; background-color: white; 
                    color: whitesmoke; 
                    border: 2px solid green;
                    background-color: #4CAF50; /* Green */

                    "  disabled> {{item.statusText}}</button></td>
                <td *ngIf="!runningFlag"> <button style=" text-transform: uppercase; background-color: white; 
                    color: whitesmoke; 
                    border: 2px solid white;
                    background-color: brown;
                    ;"  disabled> {{item.statusText}}</button></td>    
                <td>{{item.createdBy}}</td>
                <td>{{item.createdDt}}</td>
                <div *ngIf="runningFlag">
                <td><button   style="  text-transform: uppercase; background-color: white; 
                    color: black; 
                    border: 2px solid #4CAF50;"  (click)=" clickEventOfGridPlan(item.statePlanId,'save',$event,i)" > Edit</button> &nbsp;&nbsp;
                <button  style="  text-transform: uppercase;background-color: white; 
                    color: black; 
                    border: 2px solid lightcoral;" (click)=" clickEventOfGridPlan(item.statePlanId,'confirm',$event,i)" >  Confirm</button></td>
                <!-- (click)=" clickEventOfGridPlan(item.statePlanId)" -->
            </div>
            </tr>
        </tbody>

    </table>
</div>
